extends layout.pug

append head
  script(src="../public/js/index.js" type="module")
  link(rel="stylesheet" href="/public/style-index.css")

block content
  //slider
  // Carousel Wrapper
  #carousel-example-2.carousel.slide.carousel-fade(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#carousel-example-2' data-slide-to='0')
      li(data-target='#carousel-example-2' data-slide-to='1')
      li(data-target='#carousel-example-2' data-slide-to='2')
    // /.Indicators
    // Slides
    .carousel-inner(role='listbox')
      .carousel-item.active
        .view
          img.d-block.w-100(height="500" src='https://img.apmcdn.org/e018542bd095269619cbcfb3f05f0e91487934e3/uncropped/10b1aa-20170803-school-explosion07.jpg' alt='First slide')
          .mask.rgba-black-light
        .carousel-caption.border-top.border-bottom.text-left
          h2.h2-responsive YOURS FOR THE MAKING
          p Welcome to the world's most awesome playground for all things making. Learn from the largest collection of how to step-by-step workshop projects anywhere.
      .carousel-item
        // Mask color
        .view
          img.d-block.w-100(height="500" src='https://e360.yale.edu/assets/site/_1500x1500_fit_center-center_80/nighttime_stanislaus-nf_eric-knapp_web.jpg' alt='Second slide')
          .mask.rgba-black-strong
        .carousel-caption.border-top.border-bottom.text-left
          h2.h2-responsive LET'S MAKE IT LIGHT UP
          p Welcome to the world's most awesome playground for all things making. Learn from the largest collection of how to step-by-step workshop projects anywhere.
      .carousel-item
        // Mask color
        .view
          img.d-block.w-100(height="500" src='../public/images/loginSignup.png' alt='Third slide')
          .mask.rgba-black-slight
        .carousel-caption.border-top.border-bottom.text-left
          h2.h2-responsive LET'S MAKE IT LARGER THAN LIFE!
          p Welcome to the world's most awesome playground for all things making. Learn from the largest collection of how to step-by-step workshop projects anywhere.
    // /.Slides

  //
    Marketing messaging and featurettes
    ==================================================
  // Wrap the rest of the page in another container to center all the content.
  .container.marketing
    .row.w-100.my-5
      .col-lg-4
        h2 STEP-BY-STEP
        p
          | We make it easy to learn how to make anything, one step at a time. From the stovetop to the workshop, you are sure to be inspired by the awesome projects that are shared everyday.
      .col-lg-4
        h2 MADE BY YOU
        p
          | Destructables are created by you. No matter who you are, we all have secret skills to share. Come join our community of curious makers, innovators, teachers, and life long learners who love to share what they make.
      .col-lg-4
        h2 A HAPPY PLACE
        p
          | Making things makes people happy. We can't prove it, but we know it to be true. Find your happy place, and join one of the friendliest online communities anywhere.
  hr.w-75
  h2.container Explore Projects
    //THUMBNAILS BELOW
  .album.mx-10.container
    #container-explore
      .row.w-100.my-5#container-explore_category
