extends layout.pug

append head
	script(src='/public/js/projects-edit-form.js' type='module')
	link(rel='stylesheet' href='/public/styles-project-edit.css')

block content
	.edit-container
		#errors-container
		#edit-header-container
			#edit-header
				button#edit-header__add-images + Click To Add Images
			#edit-nav
				#edit-nav__left-container
					button#edit-nav__add.btn Add
					button#edit-nav__more.btn More
				#edit-nav__right-container
					button#edit-nav__preview.ml-auto.btn Full Preview
					button#edit-nav__save.ml-auto.btn Save
					button#edit-nav__publish.ml-auto.btn-primary Publish
		.edit-main-container(id=`${projectId}`)
			#edit-main__intro
				.edit-step
					.edit-step__image-container
						.edit-step__image-text (DOWN ARROW) Drag Images From Top Bar
					.edit-step__contents
						.edit-step__text
							.edit-step__heading#heading-0
							.edit-step__description#text-0
						.edit-step__options-container
							.edit-step__reorder &#9776;
							.edit-step__new &rsaquo;
							.edit-step__delete &#x274C;

			#edit-main__step-1
			#edit-main__step-2
			#edit-main__footer
				button#edit-main__add-step
