extends layout.pug

append head
	script(src='/public/js/projects-home-page.js' type='module' defer)


block content
	.projects-container
		each project in projects
			a(style='color:inherit;text-decoration:none' href=`/projects/${project.id}`)
				p.project-container
					.project-user(style='color:white')= project.User.username
					.project-name(style='color:white')= project.name
					.project-createdAt(style='color:white')=project.createdAt
