extends project-edit-template.pug

append head
	link(rel='stylesheet' href='/public/styles-project-edit.css')
	script(src='/public/js/projects-edit-form.js' type='module')

block edit
	.edit-main-container(id=`${projectId}`)
