extends layout.pug

append head
	script(src='/public/js/project-view-page.js' type='module')


block content
	.project-container(id=`${projectId}`)
		button(id='edit') Edit Destruction
	include comments.pug
