extends layout.pug

append head
	script(src='/public/js/project-view-page.js' type='module')
	link(rel='stylesheet' href='/public/styles-project-view.css' defer)

block content
	.project-container(id=`${projectId}`)
		button(id='edit') Edit Destruction
	.container.text-center
		#project-header
	#project-intro_image
	#project-intro_destruction.container.px-5
	#project-supplies.container.px-5
	div(class="container text-center py-4")
		button(class="btn btn-primary btn-sm mx-3") Add
		button(class="btn btn-primary btn-sm mx-3") TipAsk
		button(class="btn btn-primary btn-sm mx-3") Question
		button(class="btn btn-primary btn-sm mx-3") Comment
		button(class="btn btn-primary btn-sm mx-3") Download
	hr(class="" width="20%")
	#project-steps-container
	include comments.pug
