extends layout.pug

append head
	script(src='/public/js/project-view-page.js' type='module')
	link(rel='stylesheet' href='/public/styles-project-view.css' defer)

block content
	a(href='/editDestructable/1'  id='edit')
		button(class="btn" id='edit-destruction') Edit Destruction
	.container.text-center
		#project-header
	#project-intro_image
	.jumbotron.jumbotron-small.container#project-owner-container
	#project-intro_destruction.container.px-5
	#project-supplies.container.w-25
	#end-of-supplies
	hr(class="" width="20%")
	#project-steps-container
	#end-of-project-details
	include comments.pug
