extends layout.pug

append head
  script(src='/public/js/search.js' type='module')

block content
  h1 Search Results
  .search-results-container
  main.container(role='main' style="min-height: 60vh;")
    .starter-template
      h1 Not yet implement
      p.lead
        | This is just a placeholder for now.
        br
        |
