extends layout.pug

include include/auth-input.pug

append head
	script(src='/public/js/signup.js' type='module' defer)

block content
	form#signup-form
		<svg></svg>
		h1 Sign up for Destruction!
		ul#errors-container
		+authInput("Email","email")
			input(type='email' name='email' required)
		+authInput("Username","username")
			input(type='text' name='username' required)
		+authInput("Password","password")
			input(type='password' name='password' required)
		+authInput("Confirm Password","password2")
			input(type='password' name='password2' required)
		button(type='submit') Sign Up
