mixin authInput(label, name)
	.auth-input
		label(for=name class="sr-only")= label
		block

mixin authButtons
	.row
		div(class="col-md-5 mb-3")
			button O-Auth 1
		div(class="col-md-5 mb-3")
			button O-Auth 2
		div(class="col-md-5 mb-3")
			button O-Auth 3
		div(class="col-md-5 mb-3")
			button O-Auth 4
