main+.auth-container {
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

.background-div {
    background-image: url("./images/loginSignup.png");
    background-position: center;
}

#errors-container {
    box-sizing: content-box;
    padding-right: 15px;
    background-color: rgba(200, 3, 3, .75);
    color: white;
    list-style-type: none;
    text-align: start;
}

.auth-container {
    padding: 50px;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    box-sizing: content-box;
    width: 400px;
    height: 800px;
    background-size: cover;
}

.auth-input {
    padding: 10px;
}

.signup-dropdown-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -97px;
    margin-left: -16px;
    padding: 10px;
    /* width: 515px; */
}

.login-redirect {
    padding: 10px;
}

.signup-redirect {
    padding: 10px;
}

.poster {
    -webkit-flex: auto 0 0;
    flex: auto 0 0;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.hidden {
    display: none;
}

#discussion-box_buttons-inputs {
    min-height: 200px;
}

.btn {
    background-color: transparent;
    border: 1px solid #ccc;
}

.btn-primary {
    background-color: orange;
    border: 1px solid orange;
}

.btn,
.btn-primary {
    border-radius: 4px;
    height: 40px;
    transition: background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
    height: auto;
    margin: 0 auto;
    padding: 11px 19px;
    display: inline-block;
    /* line-height: 44px;*/
    text-align: center;
    font-weight: 500;
    font-size: large;
}

.btn:hover,
.btn-primary:hover,
.btn--selected,
.btn-primary--selected {
    background-color: darkorange;
    border: 1px solid darkorange;
    box-shadow: 0 0 0 0.2rem orangered;
}

.btn:focus {
    background-color: inherit;
    border: inherit;
    box-shadow: 0 0 0 0.2rem rgba(255, 140, 0, 0.3);
}

.btn-primary:focus {
    background-color: rgba(255, 140, 0, 0.6);
    border: none;
    color: black;
    box-shadow: 0 0 0 0.2rem rgba(255, 140, 0, 0.3);
}

#discussion-box_buttons button {
    color: grey;
}

.footer-container>.row {
    margin: auto;
}


.form-inline .btn{
    position: relative;
    right: 20%;
    border: none;
    padding: unset;
}

.small-button {
    padding: 0.2em;
    font-size: 1em;
}

/* For modal */
.add-media{
    min-width: 400px;
    min-height: 300px;
    border: 3px dashed gray;
    margin: 20px;
    border-radius: 1em;
}

.add-media:hover{
    border: 4px dashed white;
    background-color:white !important;
}

label[for='upload-media_input-box']{
    width: 400px;
    min-height: 300px;
    margin: auto;
}

.modal-footer .btn{
    background-color: unset;
    padding: 8px;
    margin: 10px;
    font: unset;
}
.modal-footer .btn:hover{

    color:black !important;
}

/* comment css btn */
#discussion-box_buttons button:hover{
    color:white !important;
}

/* IDK HOW TO FIX THISS!!!!!!!!!!!!!! */

@media(max-width: 800px) {
    .row {
        width: 250px;
    }
}