.carousel-caption{
    top:40%;
    bottom:25%;
    width:30%;
}

.carousel-indicators{
    right:unset;
    padding-left: unset;
    margin-left: 20%;
    bottom: 5%;
}

.carousel-indicators li{
    background-clip: unset;
    border-top: unset;
    border-bottom: unset;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.container{
    width:80% !important;
}

.card-body{

    height: 50px;
    padding-top: 0.5em;
    font-size: 12px;
}

.card-img-top{
    height:200px;
}

.card-footer{
    padding:unset;
    text-align: right;
    padding:0.2em;
    padding-right: 2em;
}
