main+.auth-container {
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

.background-div {
    background-image: url("./images/loginSignup.png");
    background-position: center;
}

#errors-container {
    box-sizing: content-box;
    padding-right: 15px;
    background-color: rgba(200, 3, 3, .75);
    color: white;
    list-style-type: none;
    text-align: start;
}

.auth-container {
    padding: 50px;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    box-sizing: content-box;
    width: 400px;
    height: 800px;
    background-size: cover;
}

.auth-input {
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -97px;
    margin-left: -16px;
    padding: 10px;
    /* width: 515px; */
}

.login-redirect {
    padding: 10px;
}

.signup-redirect {
    padding: 10px;
}

.footer_top {
    padding-left: 10px;
    padding-right: 10px;
}

.poster {
    -webkit-flex: auto 0 0;
    flex: auto 0 0;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.hidden {
    display: none;
}

#discussion-box_buttons-inputs {
    min-height: 200px;
}

.btn-primary {
    background-color: orange;
    border: 1px solid orange;
}

.btn {
    background-color: transparent;
    border: 1px solid #ccc;
}

.btn,
.btn-primary {
    border-radius: 4px;
    height: 40px;
    transition: background-color 0.2s linear, border 0.2s linear;
}

.btn:hover,
.btn-primary:hover {
    background-color: darkorange;
    border: 1px solid darkorange;
}


/* IDK HOW TO FIX THISS!!!!!!!!!!!!!! */

@media(max-width: 800px) {
    .row {
        width: 250px;
    }
}